#content-container
  display: flex

.basic-wrapper, .advanced-wrapper
  border: 1px solid #ccc

.advanced-wrapper
  margin-left: 10px

.editor-container
  height: 400px

.toolbar-container
  border-bottom: 1px solid #ccc
  padding: 8px 14px
  .ql-active
    font-weight: bold
