body
  font-family: 'Helvetica', 'Arial', san-serif
  font-size: 13px
  padding: 25px

#content-container
  margin: auto
  width: 960px

#formatting-container
  background-color: #f5f5f5
  border-bottom: 1px solid #ccc
  padding: 5px 12px
  .ql-active
    font-weight: bold

#editor-container
  height: 600px

#editor-wrapper
  border: 1px solid #aaa
  box-shadow: 0 0 2px 2px #ddd

.ql-container
  position: relative

.ql-editor
  white-space: pre-wrap
  height: 100%
  padding: 10px

.ql-tooltip, .ql-multi-cursor, .ql-paste-manager
  position: absolute
  top: 0px
  z-index: 1000

.ql-multi-cursor .cursor
  position: absolute

.ql-multi-cursor .cursor-caret
  position: absolute
  width: 3px
  height: 100%

.ql-multi-cursor .cursor-flag

.ql-multi-cursor .cursor.hidden:not(:hover) .cursor-flag
  display: none

.ql-link-tooltip
  padding: 8px 10px
  background: #fff
  border: 1px solid #aaa

.ql-link-tooltip:not(.editing)
  .input, .done
    display: none

.ql-link-tooltip.editing
  .url, .change, .remove
    display: none
