doctype html
html
  head
    title Quill Pretty Editor Demo
    meta(charset='utf-8')
    link(rel='stylesheet', href='styles/style.css')
    link(rel='stylesheet', href='styles/advanced.css')

  body
    #content-container
      .basic-wrapper
        .toolbar-container
          select.ql-font(title='Font')
            option(value='sans-serif', selected) Sans Serif
            option(value='Georgia, serif') Serif
            option(value='Monaco, \'Courier New\', monospace') Monospace
          select.ql-size(title='Size')
            option(value='10px') Small
            option(value='13px', selected) Normal
            option(value='18px') Large
            option(value='32px') Huge
          select.ql-align(title='Text Alignment')
            option(value='left', selected) Left
            option(value='center') Center
            option(value='right') Right
            option(value='justify') Justify
          button.ql-bold(title='Bold') Bold
          button.ql-italic(title='Italic') Italic
          button.ql-underline(title='Underline') Under
          button.ql-list(title='List') List
          button.ql-bullet(title='Bullet') Bullet
          button.ql-firstheader(title='H1') H1
          button.ql-firstheader(title='H2') H2
          button.ql-firstheader(title='H2') H2
        .editor-container

      .advanced-wrapper
        .toolbar-container
          span.ql-format-group
            select.ql-font(title='Font')
              option(value='sans-serif', selected) Sans Serif
              option(value='Georgia, serif') Serif
              option(value='Monaco, \'Courier New\', monospace') Monospace
            select.ql-size(title='Size')
              option(value='10px') Small
              option(value='13px', selected) Normal
              option(value='18px') Large
              option(value='32px') Huge
          span.ql-format-group
            button.ql-firstheader(title='H1') H1
            button.ql-firstheader(title='H2') H2
            button.ql-firstheader(title='H2') H2
          span.ql-format-group
            button.ql-bold(title='Bold') Bold
            span.ql-format-separator
            button.ql-italic(title='Italic') Italic
            span.ql-format-separator
            button.ql-underline(title='Underline') Under
          span.ql-format-group
            select.ql-align(title='Text Alignment')
              option(value='left', selected) Left
              option(value='center') Center
              option(value='right') Right
              option(value='justify') Justify
          span.ql-format-group
            button.ql-link(title='Link') Link
            span.ql-format-separator
            button.ql-image(title='Image') Image
            span.ql-format-separator
            button.ql-list(title='List') List
            span.ql-format-separator
            button.ql-bullet(title='Bullet') Bullet
        .editor-container

    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js')
    script(type='text/javascript', src='../quill.js')
    script(type='text/javascript', src='scripts/advanced.js')
